.Hex {
    transition: 10ms;
    transition-timing-function: ease-in-out;
    fill: #f5f5f5;
    stroke: #bdbdbd;
    stroke-width: 1;
}

.Hex:hover {
    /*fill: #daecf2;*/
    /*stroke: #b3c2c7;*/
    /*stroke-width: 1;*/
    cursor: pointer;
}